*{
  margin: 0px;
  padding: 0px;
}
.navbar{
  padding: 1rem !important;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar-right{
  display: flex;
  justify-content: space-evenly;
}

.title-product{
  color: black;
  font-size: 2rem;
}
.image{
  max-width: 100%;
}